<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="search">
        <form 
            action="{% url 'costumer:get_costumer' %}" 
            method="GET">
           <input 
               type="text" class="search-input"
               placeholder="Search"
               id="search"
               name="code"
               value="{{code}}"
           >
        </form>
   </div>

</body>
</html>